@{
    ViewData["Title"] = "MakeReservation";
}

<div>
    <h3><a asp-controller="Reservations" asp-action="MakeReservation">Make a reservation</a></h3>
</div>

<div>
    <h3><a asp-controller="Opinions" asp-action="CreateOpinion">Send us your opinion</a></h3>
</div>